rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /timesheet_records/{recordId} {
      allow read, write: if true;
    }
    match /timesheet_batches/{batchId} {
      allow read, write: if true;
    }
  }
}
